.App {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
}


.Chart {
    grid-row-start: 2;
}


.Chart--left {
    grid-column-start: 2;
    grid-column-end: 3;
}


.Chart--right {
    grid-column-start: 3;
    grid-column-end: 4;
}


.App__Explainer {
    grid-column-start: 1;
    grid-row-start: span 2;

    line-height: 1.6;
    margin: 0;
}


.Controls {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;

    display: grid;
    align-items: center;
    grid-gap: 1rem;
}


.Controls__Control {
    grid-column: 1;
}


.Controls__Control--align-start {
    align-self: start;
}


.Controls__Help {
    grid-column: 2;

    color: darkslategray;
    font-size: 0.8rem;
    line-height: 1.3;
    margin: 0;
}


.Controls__Label {
    color: darkslategray;
    font-size: 0.9rem;
}


.Input {
    display: block;
    margin-top: 0.25rem;
}


.Button {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    border: 1px solid rgba(0,0,0,.21);
    border-radius: 3px;

    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 0 2px 0 -1px rgba(0,0,0,0.13), 0 1px 0 -1px rgba(0,0,0,0.08), 0 2px 4px -1px rgba(0,0,0,0.21);
    background-color: #82c8a0;
    color: white;
    font-weight: 300;
    font-size: 16px;
    text-align: center;

    transition: all 0.1s ease-in;
}


.Button:hover,
.Button:active {
    background-color: #4baa74;
}


@media (max-width: 900px) {
    .App__Explainer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }


    .Controls {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    }


    .Chart {
        grid-row-start: 3;
    }


    .Chart--left {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .Chart--right {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}


@media (max-width: 550px) {
    .Chart--left {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .Chart--right {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }

}
