#root {
    width: 100vw;
    height: 100vh;
}


.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.Controls {
    display: flex;
    align-items: left;
    flex-direction: column;
}


.Charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
